@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.AccordionItem>

<div class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</div>
