@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.PresentationalBase<AlertVariant>

<div role="alert" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</div>
