@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.BlazingSpireComponentBase

<h2 id="@ParentDialog?.TitleId" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</h2>
