@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.BlazingSpireComponentBase

<div style="aspect-ratio: @Ratio.ToString(System.Globalization.CultureInfo.InvariantCulture);" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</div>
