@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.BlazingSpireComponentBase

<span class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</span>
