@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.PresentationalBase<BadgeVariant>

<div class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</div>
