@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.BreadcrumbItem>

<span role="link" aria-disabled="true" aria-current="page" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</span>
