@namespace BlazingSpire.Demo.Components.UI

<button class="@Classes"
        type="@Type"
        disabled="@Disabled"
        @attributes="AdditionalAttributes"
        @onclick="OnClick">
    @ChildContent
</button>
