@namespace BlazingSpire.Demo.Components.UI

<p class="@($"text-sm text-muted-foreground {Class}")">
    @ChildContent
</p>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
}
