@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.Card>

<h3 class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</h3>
