@namespace BlazingSpire.Demo.Components.UI

<div class="@($"rounded-xl border bg-card text-card-foreground shadow-sm {Class}")">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
}
