@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.CardHeader>

<p class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</p>
