@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.Carousel>

<div class="@Classes"
     role="group"
     aria-roledescription="slide"
     @attributes="AdditionalAttributes">
    @ChildContent
</div>
