@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.Carousel>

<div class="overflow-hidden">
    <div class="@Classes" style="@TranslateStyle" @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</div>
