@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.BlazingSpireComponentBase

<button type="button" role="checkbox" aria-checked="@Checked.ToString().ToLowerInvariant()" data-state="@DataState"
        disabled="@Disabled" class="@Classes" @onclick="ToggleAsync" @attributes="AdditionalAttributes">
    @if (Checked)
    {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
             stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="h-3.5 w-3.5">
            <path d="M20 6 9 17l-5-5"/>
        </svg>
    }
</button>
