@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.Collapsible>

@if (Parent?.IsOpen == true)
{
    <div data-state="open" class="@Classes" @attributes="AdditionalAttributes">
        @ChildContent
    </div>
}
