@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.Combobox>

@if (ParentCombobox is not null)
{
    <button type="button" @onclick="OnClickAsync" @ref="ParentCombobox.AnchorRef"
            class="@Classes" @attributes="AdditionalAttributes">
        <span>@(ParentCombobox.SelectedText ?? ParentCombobox.Placeholder ?? "Select...")</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="h-4 w-4 opacity-50 shrink-0">
            <path d="m6 9 6 6 6-6"/>
        </svg>
    </button>
}
else
{
    <button type="button" @onclick="OnClickAsync" class="@Classes" @attributes="AdditionalAttributes">
        <span>@ChildContent</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="h-4 w-4 opacity-50 shrink-0">
            <path d="m6 9 6 6 6-6"/>
        </svg>
    </button>
}
