@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.Combobox>

@if (ParentCombobox?.CurrentIsOpen == true)
{
    <div role="listbox" data-state="@ParentCombobox.DataState"
         data-side="@ParentCombobox.Side.ToString().ToLowerInvariant()"
         class="@Classes" @attributes="AdditionalAttributes" @ref="ParentCombobox.ContentRef">
        @ChildContent
    </div>
}
