@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.Command>

<div role="separator" class="@Classes" @attributes="AdditionalAttributes"></div>
