@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.Command>

<div role="listbox" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</div>
