@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.BlazingSpireComponentBase

<CascadingValue Value="this" IsFixed="false">
    <div class="@Classes" @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>
