@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.BlazingSpireComponentBase

<div role="listbox" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</div>
