@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.ContextMenu>

<div @oncontextmenu="OnContextMenuAsync" @oncontextmenu:preventDefault="true"
     class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</div>
