@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.Dialog>

<h2 id="@ParentDialog?.TitleId" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</h2>
