@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.DialogHeader>

<p id="@ParentDialog?.DescriptionId" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</p>
