@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.Dialog>

<div @onclick="OnClickAsync" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</div>
