@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.Drawer>

<p id="@ParentDrawer?.DescriptionId" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</p>
