@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.DrawerHeader>

<h2 id="@ParentDrawer?.TitleId" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</h2>
