@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.BlazingSpireComponentBase

<div @onclick="OnClickAsync" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</div>
