@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.FormField>

<label for="@Field?.ItemId" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</label>
