@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.BlazingSpireComponentBase

<p id="@Field?.DescriptionId" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</p>
