@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.BlazingSpireComponentBase

<label for="@Field?.ItemId" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</label>
