@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.HoverCard>

@if (_isLink)
{
    <a @onmouseenter="OnMouseEnterAsync" @onmouseleave="OnMouseLeaveAsync"
       @ref="_ref" class="@(string.IsNullOrEmpty(Classes) ? null : Classes)" @attributes="AdditionalAttributes">
        @ChildContent
    </a>
}
else
{
    <span @onmouseenter="OnMouseEnterAsync" @onmouseleave="OnMouseLeaveAsync"
          @ref="_ref" class="@(string.IsNullOrEmpty(Classes) ? null : Classes)" @attributes="AdditionalAttributes">
        @ChildContent
    </span>
}

@code {
    private ElementReference _ref;
    private bool _isLink;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _isLink = AdditionalAttributes is not null && AdditionalAttributes.ContainsKey("href");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && ParentHoverCard is not null)
            ParentHoverCard.AnchorRef = _ref;
    }
}
