@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.BlazingSpireComponentBase

@if (ParentHoverCard?.CurrentIsOpen == true)
{
    <div data-state="@ParentHoverCard.DataState"
         data-side="@ParentHoverCard.Side.ToString().ToLowerInvariant()"
         class="@Classes" @attributes="AdditionalAttributes" @ref="ParentHoverCard.ContentRef"
         @onmouseenter="OnMouseEnterAsync" @onmouseleave="OnMouseLeaveAsync">
        @ChildContent
    </div>
}
