@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.HoverCard>

@if (ParentHoverCard?.CurrentIsOpen == true)
{
    <div data-state="@ParentHoverCard.DataState"
         class="@Classes" @attributes="AdditionalAttributes" @ref="ParentHoverCard.ContentRef"
         @onmouseenter="OnMouseEnterAsync" @onmouseleave="OnMouseLeaveAsync">
        @ChildContent
    </div>
}
