@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.BlazingSpireComponentBase

<label for="@For" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</label>
