@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.MenubarMenu>

<button type="button" role="menuitem"
        data-state="@(ParentMenu?.IsOpen == true ? "open" : "closed")"
        class="@Classes" @attributes="AdditionalAttributes"
        @onclick="OnClick">
    @ChildContent
</button>
