@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.MenubarMenu>

@if (ParentMenu?.IsOpen == true)
{
    <div role="menu" class="@Classes" @attributes="AdditionalAttributes">
        @ChildContent
    </div>
}
