@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.BlazingSpireComponentBase

<CascadingValue Value="this" IsFixed="false">
    <li class="@Classes" @attributes="AdditionalAttributes">
        @ChildContent
    </li>
</CascadingValue>
