@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.NavigationMenuList>

<CascadingValue Value="this" IsFixed="false">
    <li class="@(string.IsNullOrEmpty(Classes) ? null : Classes)" @attributes="AdditionalAttributes">
        @ChildContent
    </li>
</CascadingValue>
