@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.NavigationMenu>

<button type="button"
        class="@Classes"
        data-state="@DataState"
        @onclick="OnClickAsync"
        @attributes="AdditionalAttributes">
    @ChildContent
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
         class="relative top-[1px] ml-1 h-3 w-3 transition duration-200 group-data-[state=open]:rotate-180"
         aria-hidden="true">
        <path d="m6 9 6 6 6-6"/>
    </svg>
</button>
