@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.NavigationMenu>

<a href="@Href" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</a>
