@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.BlazingSpireComponentBase

<nav role="navigation" aria-label="pagination" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</nav>
