@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.PaginationContent>

<li class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</li>
