@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.Popover>

@if (ParentPopover?.CurrentIsOpen == true)
{
    <div data-state="@ParentPopover.DataState"
         class="@Classes" @attributes="AdditionalAttributes" @ref="ParentPopover.ContentRef">
        @ChildContent
    </div>
}
