@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.BlazingSpireComponentBase

<div class="@Classes" @attributes="AdditionalAttributes">
    <div class="h-full w-full rounded-[inherit] overflow-auto">
        @ChildContent
    </div>
</div>
