@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.Select>

@if (ParentSelect?.CurrentIsOpen == true)
{
    <div role="listbox"
         data-state="@ParentSelect.DataState"
         class="@Classes" @attributes="AdditionalAttributes"
         @ref="ParentSelect!.ContentRef">
        @ChildContent
    </div>
}
