@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.BlazingSpireComponentBase

<div role="option"
     aria-selected="@IsSelected"
     data-disabled="@(Disabled ? "true" : null)"
     class="@Classes"
     @attributes="AdditionalAttributes"
     @onclick="OnClickAsync">
    @if (IsSelected)
    {
        <span class="absolute left-2 flex h-3.5 w-3.5 items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="h-4 w-4" aria-hidden="true">
                <path d="M20 6 9 17l-5-5"/>
            </svg>
        </span>
    }
    @ChildContent
</div>
