@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.SelectContent>

<div role="group" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</div>
