@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.SheetHeader>

<h2 id="@ParentSheet?.TitleId" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</h2>
