@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.TableRow>

<td class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</td>
