@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.BlazingSpireComponentBase

<button type="button" role="tab" aria-selected="@IsActive.ToString().ToLowerInvariant()" data-state="@DataState"
        disabled="@Disabled" class="@Classes" @onclick="OnClickAsync" @attributes="AdditionalAttributes">
    @ChildContent
</button>
