@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.Tabs>

@if (IsActive)
{
    <div role="tabpanel" data-state="active" class="@Classes" @attributes="AdditionalAttributes">
        @ChildContent
    </div>
}
