@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.Tabs>

<div role="tablist" class="@Classes" @attributes="AdditionalAttributes">
    @ChildContent
</div>
