@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.Toast>

<button type="button" class="@Classes" @onclick="() => OnClick?.Invoke()" @attributes="AdditionalAttributes">
    @ChildContent
</button>
