@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.Tooltip>

@if (ParentTooltip?.CurrentIsOpen == true)
{
    <div role="tooltip" data-state="@ParentTooltip.DataState"
         data-side="@ParentTooltip.Side.ToString().ToLowerInvariant()"
         class="@Classes" @attributes="AdditionalAttributes" @ref="ParentTooltip.ContentRef">
        @ChildContent
    </div>
}
